body {
    background-color: whitesmoke;
}

#outer {
    width: 600px;
    height: 400px;
    text-align:center;
    background-color: black;
    color: yellow;
}

img {
    width: 450px;
    height: 250px;
    border-color: yellow;
    border-width: 10px;
    padding-top: 0px;
}

h1 {
    padding-top: 10px;
    padding-bottom: 0px;
}
